<?xml version="1.0" encoding="UTF-8"?>

<application>
	<documents base="file:/$WORKINGDIR/applications/" type="application/xml+ccxml">
		<document src="default.ccxml" root="true" />
	</documents>

	<documents base="file:/$WORKINGDIR/applications/" type="application/xml+vxml">
		<document src="__TESTCASE__.vxml" />
	</documents>
</application>

