C ={
                        "You have "
        (0,0,0,0)       "no new messages."
        (1,*,*,*)       "one"
        (2-,*,*,*)      VCOUNT
        (1-,*,*,*)      " new voice message"
	(2-,*,*,*)	"s"
        (1-,0,0,0)      "."
        (1-,1-,0,0)     " and "
        (1-,1-,1-,*)     ", " 
        (*,1,*,*)       "one"
        (*,2-,*,*)      FCOUNT
        (*,1-,*,*)      " new fax"
        (*,2-,*,*)      "es"
        (*,1-,0,0)      "."
        (*,1-,1-,1-)      ", "
        (0,1-,1-,0)      " and "
        (1-,0,1-,0)      " and "
        (1-,1-,1-,0)      " and "
        (*,*,1,*)       "one"
        (*,*,2-,*)      ECOUNT
        (*,*,1-,*)      " new email"
        (*,*,2-,*)      "s"
        (*,*,1-,0)      "."
        (1-,0,0,1-)      " and "
        (0,1-,0,1-)      " and "
        (0,0,1-,1-)      " and "
        (1-,1-,1-,1-)      " and "
        (0,1-,1-,1-)      " and "
        (1-,0,1-,1-)      " and "
        (*,*,*,1)      "one"
        (*,*,*,2-)     MCOUNT 
        (*,*,*,1-)     " new video message"
        (*,*,*,2-)     "s"
        (*,*,*,1-)     "."
}
