<?xml version="1.0" encoding="utf-8"?>

<vxml version="2.1" xmlns="http://www.w3.org/2001/vxml"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.w3.org/2001/vxml
			http://www.w3.org/TR/voicexml21/vxml.xsd">
	<form id="main_form">
		<var name="response1" />
		<var name="response2" />
		<var name="responseCode" />
		
		<block>
			<script>
				<![CDATA[
				
<!-- ##### TESTCASE 20016019 #####-->				
				<!-- Value before update -->
				<!-- NOTE: firstIVRCallDone must be set to false in Airsquid before this test! -->
				mas.systemSetAccountRequestParameters( [ 'subscriberNumber' ], [ '1903' ]);
				mas.systemSendAccountRequest( 'GetAccountDetails');
				response1 = mas.systemGetAccountRequestParameter( 'firstIVRCallFlag');
				mas.systemLog( 3, "ResponsResult1: " + response1 );

				<!-- Perform the update -->
				if ( response1 = "true" ){
					mas.systemSetAccountRequestParameters( [ 'subscriberNumber', 'firstIVRCallDoneFlag' ], [ '1903', 'true' ]);
				}else{
					mas.systemSetAccountRequestParameters( [ 'subscriberNumber', 'firstIVRCallDoneFlag' ], [ '1903', 'false' ]);
				}
				mas.systemSendAccountRequest( 'UpdateAccountDetails');
				responseCode = mas.systemGetAccountRequestParameter( 'responseCode');
					mas.systemLog( 3, "ResponsCode: " + responseCode );

				<!-- Verify the Value after update --
				if ( responseCode = "0" ){
						mas.systemSetAccountRequestParameters( [ 'subscriberNumber' ], [ '1903' ]);
						mas.systemSendAccountRequest( 'GetAccountDetails');
						response2 = mas.systemGetAccountRequestParameter( 'firstIVRCallFlag');
						mas.systemLog( 3, "ResponsResult2: " + response2 );
						if ( (response1 == "true") && (response2 == "false") ){
								mas.systemLog( 3, "TC 20016019 PASSED" );
						}else {
								mas.systemLog( 3, "TC 20016019 FAILED account value is wrong" );
						}					
				} 
				else {
						mas.systemLog( 3, "TC 20016019 FAILED responseCode is wrong" );
				}					

<!-- ##### TESTCASE 20016020 #####-->				
				<!-- Value before update -->
				mas.systemSetAccountRequestParameters( [ 'subscriberNumber' ], [ '1903' ]);
				mas.systemSendAccountRequest( 'GetAccountDetails');
				response1 = mas.systemGetAccountRequestParameter( 'languageIDCurrent');
				mas.systemLog( 3, "ResponsResult1: " + response1 );
				<!-- Perform the update -->
				if ( response1 < "2" ){
						mas.systemSetAccountRequestParameters( [ 'subscriberNumber', 'languageIDNew' ], [ '1903', '4' ]);
				}else{
						mas.systemSetAccountRequestParameters( [ 'subscriberNumber', 'languageIDNew' ], [ '1903', '1' ]);
				}					
				mas.systemSendAccountRequest( 'UpdateAccountDetails');
				responseCode = mas.systemGetAccountRequestParameter( 'responseCode');
					mas.systemLog( 3, "ResponsCode: " + responseCode );
				<!-- Verify the Value after update --
				if ( responseCode = "0" ){
						mas.systemSetAccountRequestParameters( [ 'subscriberNumber' ], [ '1903' ]);
						mas.systemSendAccountRequest( 'GetAccountDetails');
						response2 = mas.systemGetAccountRequestParameter( 'languageIDCurrent');
						mas.systemLog( 3, "ResponsResult2: " + response2 );
						if ( response1 != response2 ){
								mas.systemLog( 3, "TC 20016020 PASSED" );
						}else {
								mas.systemLog( 3, "TC 20016020 FAILED account value is wrong" );
						}					
				} 
				else {
						mas.systemLog( 3, "TC 20016020 FAILED responseCode is wrong" );
				}					

<!-- ##### TESTCASE 20016021 #####-->				
				<!-- Value before update NOTE: datumen måste hämtas med GetAccountDetails, inte GetBalanceAndDate. Och då får inte GetAccountDetails vara overridden av egen responsfil! -->
				mas.systemSetAccountRequestParameters( [ 'subscriberNumber' ], [ '1903' ]);
				mas.systemSendAccountRequest( 'GetAccountDetails');
				response1 = mas.systemGetAccountRequestParameter( 'supervisionExpiryDate');
				mas.systemLog( 3, "ResponsResult1: " + response1 );
				<!-- Perform the update -->
				mas.systemSetAccountRequestParameters( [ 'subscriberNumber', 'supervisionExpiryDateRelative' ], [ '1903', '3' ]);
				mas.systemSendAccountRequest( 'UpdateBalanceAndDate');
				responseCode = mas.systemGetAccountRequestParameter( 'responseCode');
					mas.systemLog( 3, "ResponsCode: " + responseCode );
				<!-- Verify the Value after update --
				if ( responseCode = "0" ){
						mas.systemSetAccountRequestParameters( [ 'subscriberNumber' ], [ '1903' ]);
						mas.systemSendAccountRequest( 'GetAccountDetails');
						response2 = mas.systemGetAccountRequestParameter( 'supervisionExpiryDate');
						mas.systemLog( 3, "ResponsResult2: " + response2 );
						if ( response1 < response2 ){
								mas.systemLog( 3, "TC 20016021 PASSED" );
						}else {
								mas.systemLog( 3, "TC 20016021 FAILED account value is wrong" );
						}					
				} 
				else {
						mas.systemLog( 3, "TC 20016021 FAILED responseCode is wrong" );
				}					

	
				]]>
			</script>
			<exit />
		</block>
	</form>

	<catch event="error">
		<log>TC 777 FAILED <value expr="_event" /> <value expr="_message" /></log>
		<exit />
	</catch>

	<catch event="connection.disconnect.hangup">
		<log>Hung up!</log>
		<exit />
	</catch>
</vxml>

