servicename=MasterAgent
componentname=emanate@emanate.host1.com
hostname=emanate.host1.com
port=161
protocol=SNMP

servicename=MasterAgent
componentname=emanate@emanate.host2.com
hostname=emanate.host2.com
port=161
protocol=SNMP

servicename=MasterAgent
componentname=emanate@emanate.host3.com
hostname=emanate.host3.com
port=161
protocol=SNMP

servicename=MasterAgent
componentname=emanate@emanate.host4.com
hostname=emanate.host4.com
port=161
protocol=SNMP

#EventReporting
servicename=EventReporting
componentname=mer@mer.host1.com
hostname=mer.host1.com
logicalzone=unspecified
port=1813
protocol=RADIUS-MA

#ShortMessage
servicename=ShortMessage
componentname=smscsim@smsc.host1.com
hostname=smsc.host1.com
logicalzone=unspecified
port=5016
protocol=smpp

#Messaging Common directory
servicename=MessagingCommonDirectory
componentname=mcd
hostname=172.30.164.98
port=388
opcoid=opco1
username=cn=Directory Manager
password=mcd
